@model HistoryModel

<div class="row" style="height: 85vh;">
	<div class="col-md-4">
		<div class="background-block" style="height: 100%;">
			@if (Model.OrderTitles != null && Model.OrderTitles.Any())
			{
				@foreach (var orderTitle in Model.OrderTitles)
				{
					<div class="order-item" onclick="fetchOrderDetails(@orderTitle.Id)">
						<div class="col-md-10">
							<p>
								@orderTitle.OwnerName
								<span class="arrow">&rarr;</span>
								@orderTitle.CustomerName
							</p>
							<p>@orderTitle.CloseDate</p>
						</div>
						<div class="col-md-2">
							<p class="status">@orderTitle.Status</p>
						</div>
					</div>
				}
			}
			else
			{
				<p>@Localizer["No orders available."]</p>
			}
		</div>
	</div>

	<div class="col-md-8">
		<div class="background-block" id="order-details-block" style="height: 100%;">
		</div>
	</div>
</div>

@section Styles {
	<link rel="stylesheet" href="~/css/backgroundBlock.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/history.css" asp-append-version="true" />
}

@section Scripts {
	<script>
		function fetchOrderDetails(orderId) {
			fetch('@Url.Action("GetOrderDetails", "History")?orderId=' + orderId)
				.then(response => response.json())
				.then(data => {
					updateOrderDetailsBlock(data);
				})
				.catch(error => console.error('Error fetching order details:', error));
		}

		function updateOrderDetailsBlock(orderDetails) {
			console.log(orderDetails);
			var orderDetailsBlock = document.getElementById('order-details-block');
			orderDetailsBlock.innerHTML = `
						<div class="order-info-block">
							<h3>@Localizer["Order information"]:</h3>
							<p>@Localizer["Seller name"]: ${orderDetails.user.userName}</p>
							<p>@Localizer["Create date"]: ${orderDetails.order.createDate}</p>
							<p>@Localizer["Order check"]: ${orderDetails.order.checkAmount}</p>
							<h3>@Localizer["Order list"]:</h3>
						</div>
					`;

			var orderList = orderDetails.orderList;
			if (orderList && orderList.length > 0) {
				orderList.forEach(book => {
					var bookBlock = `
								<div class="row order-book">
									<div class="col-md-2">
										<img src="${book.imagePath}" asp-append-version="true" class="img-fluid rounded" alt="${book.title}">
									</div>
									<div class="col-md-10">
										<p style="font-weight: bold;">${book.title}</p>
										<p>${book.author}</p>
										<p>${book.price}</p>
									</div>
								</div>
							`;
					orderDetailsBlock.innerHTML += bookBlock;
				});
			} else {
				orderDetailsBlock.innerHTML += '<p>There are no books in order</p>';
			}
		}
	</script>
}
