<h1>@Localizer["Title"]</h1>

<div class="row" style="height: 80vh;">
	<div class="col-md-4" style="height: 100%;">
		<a href="@Url.Action("BooksLibrary", "BooksLibrary")" class="list-group-item list-group-item-action">@Localizer["Library"]</a>
	</div>
	<div class="col-md-4" style="height: 100%;">
		<a href="@Url.Action("RafflesLibrary", "RafflesLibrary")" class="list-group-item list-group-item-action">@Localizer["Raffles"]</a>
	</div>
	<div class="col-md-4" style="height: 100%;">
		<a href="@Url.Action("MyBooksLibrary", "MyBooksLibrary")" class="list-group-item list-group-item-action">@Localizer["MyBooks"]</a>
	</div>
</div>

@section Styles {
	<link rel="stylesheet" href="~/css/index.css" />
}