<h1>@Localizer["Title"]</h1>

<div class="row" style="height: 80vh;">
	<div class="col-md-6" style="height: 100%;">
		<div class="list-group" style="height: 100%;">
			<a href="@Url.Action("Library", "Library")" class="list-group-item list-group-item-action">@Localizer["Library"]</a>
			<a href="@Url.Action("Raffle", "Raffle")" class="list-group-item list-group-item-action">@Localizer["Raffles"]</a>
			<a href="@Url.Action("Auction", "Auction")" class="list-group-item list-group-item-action">@Localizer["Auctions"]</a>
		</div>
	</div>
	<div class="col-md-6" style="height: 100%;">
		<div class="list-group" style="height: 100%;">
			<a href="@Url.Action("MyBooks", "MyBooks")" class="list-group-item list-group-item-action">@Localizer["MyBooks"]</a>
			<a href="@Url.Action("Chat", "Chat")" class="list-group-item list-group-item-action">@Localizer["Chats"]</a>
			<a href="@Url.Action("Contract", "Contract")" class="list-group-item list-group-item-action">@Localizer["Contracts"]</a>
		</div>
	</div>
</div>

@section Styles {
	<link rel="stylesheet" href="~/css/index.css" />
}