@model ConfirmedOrderModel

<div class="row justify-content-center" style="height: 85vh;">
	<div class="col-md-6" style="height: 100%;">
		<div class="background-block" style="height: 20%;">
			<h4>Delivery parameters</h4>
		</div>
		<div class="background-block" style="height: 20%;">
			<h4>Pay options</h4>
			<div class="row d-flex justify-content-center">
				<h2 style="color: red;">@Model.Order.CheckAmount.ToString("C")</h2>
			</div>
		</div>
		<div class="background-block" style="height: 15%;">
			<h4>Comment</h4>
			<p>Comment by @Model.Order.CustomerId: @Model.Order.Comment</p>
		</div>

		<div class="background-block" style="height: 35%;">
			<h4>Basket items</h4>
			<div class="items">
				@foreach (var orderItem in Model.OrderList)
				{
					<div class="row order-item">
						<div class="col-md-2">
							<img src="@("~" + orderItem.ImagePath)" asp-append-version="true" class="img-fluid rounded" alt="Book Image">
						</div>
						<div class="col-md-8">
							<p style="font-weight: bold;">@orderItem.Title</p>
							<p>@orderItem.Author</p>
							<p>@orderItem.Price.ToString("C")</p>
						</div>
					</div>
				}
			</div>
		</div>

		<div class="row d-flex justify-content-center">
			<div class="col-md-6 btn-confirm-container">
				<form method="post" action="@Url.Action("Chat", "Chat")">
					<input type="hidden" asp-for="User.Id" value="@Model.User.Id" />
					<button type="submit" class="btn btn-primary">Open chat</button>
				</form>
			</div>
			@if (@Model.Order.OwnerId == @Model.UserId)
			{
				<div class="col-md-6 btn-confirm-container">
					<form asp-controller="Order" asp-action="DeleteOrder" method="post" autocomplete="off">
						<input type="hidden" name="id" value="@Model.Order.Id" />
						<div class="btn-confirm-container">
							<button type="submit" class="btn btn-danger">Cancel order</button>
						</div>
					</form>
				</div>
			}
		</div>
	</div>
</div>

@section Styles {
	<link rel="stylesheet" href="~/css/backgroundBlock.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/order.css" asp-append-version="true" />
}