@model OrderModel

<div class="row" style="height: 85vh;">
	<div class="col-md-6" style="height: 100%;">
		<form style="height: 100%;" method="post" action="@Url.Action("ConfirmOrder", "Order")">
			<div class="background-block" style="height: 40%;">
				<h4>Delivery parameters</h4>
			</div>
			<div class="background-block" style="height: 35%;">
				<h4>Pay variants</h4>
			</div>
			<div class="background-block" style="height: 15%;">
				<h4>Comment</h4>
				<label asp-for="Order.Comment" class="control-label"></label>
				<textarea asp-for="Order.Comment" class="form-control" rows="3" placeholder="Enter your comment"></textarea>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-md-4">
					<h2 style="color: red;">@Model.Order.CheckAmount.ToString("C")</h2>
				</div>
				<div class="col-md-8 btn-confirm-container">
					<input type="hidden" asp-for="Order.Id" value="@Model.Order.Id" />
					<input type="hidden" asp-for="Owner.Id" value="@Model.Owner.Id" />
					<input type="hidden" asp-for="Owner.UserName" value="@Model.Owner.UserName" />
					<button type="submit" class="btn btn-primary">Confirm order</button>
				</div>
			</div>
		</form>
	</div>

	<div class="col-md-6" style="height: 100%;">
		<div class="background-block" style="height: calc(45% + 5px);">
			<h4>Basket items</h4>
			<div class="items">
				@if (Model.OrderList != null && Model.OrderList.Any())
				{
					@foreach (var orderItem in Model.OrderList)
					{
						<div class="row order-item">
							<div class="col-md-2">
								<img src="@("~" + orderItem.ImagePath)" asp-append-version="true" class="img-fluid rounded" alt="Book Image">
							</div>
							<div class="col-md-8">
								<p style="font-weight: bold;">@orderItem.Title</p>
								<p>@orderItem.Author</p>
								<p>@orderItem.Price.ToString("C")</p>
							</div>
							<div class="col-md-2 btn-remove-container">
								<form method="post" action="@Url.Action("DeleteBookFromOrder", "Order")">
									<input type="hidden" asp-for="DeleteBookDetails.OrderId" value="@Model.Order.Id" />
									<input type="hidden" asp-for="DeleteBookDetails.Id" value="@orderItem.Id" />
									<input type="hidden" asp-for="DeleteBookDetails.Price" value="@orderItem.Price" />
									<button type="submit" class="btn btn-remove">
										<span aria-hidden="true">&times;</span>
									</button>
								</form>
							</div>
						</div>
					}
				}
				else
				{
					<p>No books available.</p>
				}
			</div>
		</div>
		<div class="background-block" style="height: calc(45% + 5px);">
			<h4>Other books by @Model.Owner.UserName</h4>
			<div class="items">
				@if (Model.OtherSellerItems != null && Model.OtherSellerItems.Any())
				{
					@foreach (var orderItem in Model.OtherSellerItems)
					{
						<div class="row order-item item-ref" onclick="location.href='@Url.Action("PreOrder", "PreOrder", new { id = orderItem.Id })'">
							<div class="col-md-2">
								<img src="@("~" + orderItem.ImagePath)" asp-append-version="true" class="img-fluid rounded" alt="Book Image">
							</div>
							<div class="col-md-8">
								<p style="font-weight: bold;">@orderItem.Title</p>
								<p>@orderItem.Author</p>
								<p>@orderItem.Price.ToString("C")</p>
							</div>
						</div>
					}
				}
				else
				{
					<p>No books available.</p>
				}
			</div>
		</div>
		<form asp-controller="Order" asp-action="DeleteOrder" method="post" autocomplete="off">
			<input type="hidden" name="id" value="@Model.Order.Id" />
			<div class="btn-confirm-container">
				<button type="submit" class="btn btn-danger">Delete order</button>
			</div>
		</form>
	</div>
</div>

@section Styles {
	<link rel="stylesheet" href="~/css/backgroundBlock.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/order.css" asp-append-version="true" />
}