@model MyBooksModel

<h2>My Books</h2>

<div class="row">
	@if (Model.BookTitles != null && Model.BookTitles.Any())
	{
		@foreach (var book in Model.BookTitles)
		{
			<div class="col-md-3 mb-4">
				<div class="card" onclick="location.href='@Url.Action("GetEditBook", "Book", new { id = book.Id })'">
					<img src="@("~" + book.ImagePath)" asp-append-version="true" class="img-fluid rounded" alt="Book Image">
					<div class="card-body">
						<span class="genre">@book.Genre</span>
						<h5 class="card-title">@book.Title</h5>
						<p class="card-text">@book.Author</p>
					</div>
				</div>
			</div>
		}
	}
	<div class="col-md-3 mb-4">
		<a href="@Url.Action("GetAddBook", "Book")" class="card-link d-block text-decoration-none">
			<div class="card">
				<div class="card-body text-center">
					<h5 class="card-title text-center">Add Book</h5>
					<p class="card-text text-center">Click here to add a new book</p>
				</div>
			</div>
		</a>
	</div>
</div>

@section Styles {
	<link rel="stylesheet" href="~/css/bookList.css" asp-append-version="true" />
}

