@model BooksLibraryModel
@using BookShareHub.Core.Domain.Enums

@{
	var totalPages = (int)Math.Ceiling((double)Model.TotalItems / Model.PageSize);
}

<div class="row">
	<form class="form-group col-md-7 align-items-end" method="get" action="@Url.Action("Filter", "BooksLibrary")">
		<div class="col-md-3">
			<label for="language">@Localizer["Language"]:</label>
			<select class="form-control" id="language" name="FilterQuery.SelectedLanguage">
				<option value="">All</option>
				@foreach (BookLanguage language in Enum.GetValues(typeof(BookLanguage)))
				{
					string selected = Model.FilterQuery?.SelectedLanguage == language ? "selected" : "";
					<option value="@language.ToString()" selected="@selected">@language.ToString()</option>
				}
			</select>
		</div>
		<div class="col-md-3">
			<label for="genre">@Localizer["Genre"]:</label>
			<select class="form-control" id="genre" name="FilterQuery.SelectedGenre">
				<option value="">All</option>
				@foreach (BookGenre genre in Enum.GetValues(typeof(BookGenre)))
				{
					string selected = Model.FilterQuery?.SelectedGenre == genre ? "selected" : "";
					<option value="@genre.ToString()" selected="@selected">@genre.ToString()</option>
				}
			</select>
		</div>
		<div class="col-md-3">
			<label for="price">@Localizer["Max Price"]:</label>
			<input type="number" class="form-control" id="price" name="FilterQuery.MaxPrice" min="0" value="@Model.FilterQuery?.MaxPrice">
		</div>
		<div class="col-md-2 align-self-end">
			<input type="hidden" name="UserId" value="@Model.UserId">
			<button type="submit" class="btn btn-primary">@Localizer["Filter"]</button>
		</div>
	</form>
	<form class="form-group col-md-3 offset-md-2 align-items-end" method="get" action="@Url.Action("Search", "BooksLibrary")">
		<div class="col-md-8">
			<label for="search">@Localizer["Search"]:</label>
			<input type="text" class="form-control" id="search" name="SearchQuery.Request" value="@Model.SearchQuery?.Request">
		</div>
		<div class="col-md-4">
			<input type="hidden" name="UserId" value="@Model.UserId">
			<button type="submit" class="btn btn-primary">@Localizer["Find"]</button>
		</div>
	</form>
</div>

@if (Model.BookTitles != null && Model.BookTitles.Any())
{
	<div class="row">
		@foreach (var book in Model.BookTitles)
		{
			<div class="col-md-3 mb-4">
				<div class="card" onclick="location.href='@Url.Action("PreOrder", "PreOrder", new { id = book.Id })'">
					<img src="@book.ImagePath" asp-append-version="true" class="img-fluid rounded" alt="Book Image">
					<div class="card-body">
						<span class="genre">@book.Genre</span>
						<h5 class="card-title">@book.Title</h5>
						<p class="card-text">@book.Author</p>
					</div>
				</div>
			</div>
		}
	</div>

	@if (totalPages > 1)
	{
		<ul class="pagination">
			@for (int i = 1; i <= totalPages; i++)
			{
				<li class="page-item @(i == Model.PageNumber ? "active" : "")">
					<a class="page-link" href="@Url.Action("BooksLibrary", "BooksLibrary", new { pageNumber = i, pageSize = Model.PageSize })">@i</a>
				</li>
			}
		</ul>
	}
}
else
{
	<p>@Localizer["No available"]</p>
}


@section Styles {
	<link rel="stylesheet" href="~/css/bookList.css" asp-append-version="true" />
}
