@model LibraryModel

<h2>Library</h2>

@if (Model.BookTitles != null && Model.BookTitles.Any())
{
	<div class="row">
		@foreach (var book in Model.BookTitles)
		{
			<div class="col-md-3 mb-4">
				<div class="card" onclick="location.href='@Url.Action("Order", "Order", new { id = book.Id })'">
					<img src="@("~" + book.ImagePath)" asp-append-version="true" class="img-fluid rounded" alt="Book Image">
					<div class="card-body">
						<span class="genre">@book.Genre</span>
						<h5 class="card-title">@book.Title</h5>
						<p class="card-text">@book.Author</p>
					</div>
				</div>
			</div>
		}
	</div>
}
else
{
	<p>No books available.</p>
}


@section Styles {
	<link rel="stylesheet" href="~/css/bookList.css" asp-append-version="true" />
}
