@model MyBooksLibraryModel

<div class="row">
	@if (Model.BookTitles != null && Model.BookTitles.Any())
	{
		@foreach (var book in Model.BookTitles)
		{
			<div class="col-md-3 mb-4">
				<div class="card" onclick="location.href='@Url.Action("GetEditBook", "MyBooksLibrary", new { id = book.Id })'">
					<img src="@book.ImagePath" asp-append-version="true" class="img-fluid rounded" alt="Book Image">
					<div class="card-body">
						<span class="genre">@book.Genre</span>
						<h5 class="card-title">@book.Title</h5>
						<p class="card-text">@book.Author</p>
					</div>
				</div>
			</div>
		}
	}
	<div class="col-md-3 mb-4">
		<a href="@Url.Action("GetAddBook", "MyBooksLibrary")" class="card card-link">
			<div class="card-body">
				<h5 class="card-title">@Localizer["Add book"]</h5>
				<p class="card-text">@Localizer["Add book text"]</p>
			</div>
		</a>
	</div>
</div>

@section Styles {
	<link rel="stylesheet" href="~/css/bookList.css" asp-append-version="true" />
}

