@model RafflesLibraryModel
@using BookShareHub.Core.Domain.Enums

<div class="row">
	<form class="form-group col-md-7 align-items-end" method="get" action="@Url.Action("Filter", "RafflesLibrary")">
		<div class="col-md-3">
			<label for="genre">@Localizer["Raffle type"]:</label>
			<select class="form-control" id="genre" name="FilterQuery.SelectedType">
				<option value="">All</option>
				@foreach (RaffleType genre in Enum.GetValues(typeof(RaffleType)))
				{
					string selected = Model.FilterQuery?.SelectedType == genre ? "selected" : "";
					<option value="@genre.ToString()" selected="@selected">@genre.ToString()</option>
				}
			</select>
		</div>
		<div class="col-md-3">
			<label for="price">@Localizer["Max ticket price"]:</label>
			<input type="number" class="form-control" id="price" name="FilterQuery.MaxPrice" min="0" value="@Model.FilterQuery?.SelectedMaxTicketPrice">
		</div>
		<div class="col-md-2 align-self-end">
			<input type="hidden" name="UserId" value="@Model.UserId">
			<button type="submit" class="btn btn-primary">@Localizer["Filter"]</button>
		</div>
	</form>
	<div class="button-container col-md-2 offset-md-3">
		<button class="btn btn-primary" onclick="location.href='@Url.Action("GetAddRaffle", "RafflesLibrary")'">
			Create raffle
		</button>
	</div>
</div>

@if (Model.RaffleTitles != null && Model.RaffleTitles.Any())
{
	<div class="row">
		@foreach (var raffle in Model.RaffleTitles)
		{
			<div class="col-md-3 mb-4">
				<div class="card" onclick="location.href='@Url.Action("Raffle", "Raffle", new { id = raffle.Id })'">
					<img src="@raffle.ImagePath" asp-append-version="true" class="img-fluid rounded" alt="Raffle Image">
					<div class="card-body">
						<span class="genre">@raffle.Type</span>
						<h5 class="card-title">@raffle.TicketPrice</h5>
						<p class="card-text">@raffle.EndDateTime</p>
					</div>
				</div>
			</div>
		}
	</div>
}
else
{
	<p>@Localizer["No available"]</p>
}

@section Styles {
	<style>
		.button-container {
			margin-bottom: 15px;
			display: flex;
			align-items: end;
			justify-content: end;
		}
	</style>
	<link rel="stylesheet" href="~/css/bookList.css" asp-append-version="true" />
}
